* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
}

.parent .calc {
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.box {
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
  height: 70px;
  width: 75px;
  border: 2px solid black;
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.operands {
  background-color: azure;
}

.operator {
  background-color: orange;
}

.calc .display, .clear, .backSpace {
  height: 70px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calc .display {
  grid-row: 1 /span 2;
  grid-column: 1 /span 4;
  color: white;
  background-color: black;
}

.calc .clear {
  grid-column: 1 /span 2;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  background-color: thistle;
}

.calc .backSpace {
  grid-column: 3 /span 2;
  width: 150px;
}

.calc .clear button {
  font-size: large;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: transparent;
}